
.main-page-button {
    list-style-type: none;
}

.main-page-button a{
    list-style-type: none;
    display: inline-block;
    padding: 8px 15px;
    border-radius: 5px;
    background-color: rgba(12, 5, 0, 0.952);
    color: white;
    text-decoration: none;
    /* transition: background-color 0.3s ease; */
}

body {
    margin: 0;
    padding:0;
    background: white;
    /* linear-gradient(
    to bottom, #6CA6CD, #7EC8E3, #8AB6D6, #5E8A9F); */
    opacity: 0;
    animation: fadeIn 2s ease-in-out forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


main{
    padding: 16px;
}
.container {
    display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  padding: 20px;
  }


footer {
  padding-top: 24px;
  padding-bottom: 24px;
  padding-left: 0;
  padding-right: 0;
  background-color: green;
  /* border-bottom: 1px solid rgba(189, 61, 10, 0.692), 31, 31; */
  padding: 32px;
}

img {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.404);
    height:200px;
}

nav {
    background-color: orangered;
    border-bottom: 1px solid rgba(189, 61, 10, 0.692), 31, 31;
    padding: 16px;
}

.shaded {
    background-color: #f2f2f2bb;
}

.veg-color{
    color: green;
}
